<div class="container">
      <h1>My personnal Home Page</h1>
      <p>You can red more about me, or checkout my blog.</p>
      <a href="/about">About</a>
      <%link_to "About Me, Myself, And I", about_path %>
</div>