<footer class="bg-light text-dark">
      <div class="container" >
            <div class="row">
                  <div class="col">
                        <h3>MDN</h3>
                        <ul>
                              <li>About</li>
                              <li>Hacks Blog</li>
                              <li>Careers</li>
                        </ul>
                  </div>
                  <div class="col">
                        <h3>Support</h3>
                        <ul>
                              <li>About</li>
                              <li>Hacks Blog</li>
                              <li>Careers</li>
                        </ul>
                  </div>
                  <div class="col">
                        <h3>Our communities</h3>
                        <ul>
                              <li>About</li>
                              <li>Hacks Blog</li>
                              <li>Careers</li>
                        </ul>
                  </div>
                  <div class="col">
                        <h3>Developers</h3>
                        <ul>
                              <li>About</li>
                              <li>Hacks Blog</li>
                              <li>Careers</li>
                        </ul>
                  </div>
            </div>
      </div>
</footer>